.main-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 973px;

    &.wide {
        max-width: 1286px;

        @include respond-to(wideDesk) {
            margin-left: 110px;
            margin-right: 110px;
        }

        @include respond-to(smallDesk) {
            margin-left: 30px;
            margin-right: 30px;
        }
    }

    @include respond-to(desk) {
        max-width: 800px;
    }

    @include respond-to(smallDesk) {
        max-width: 545px;
    }

    @include respond-to(phone) {
        margin-left: 30px;
        margin-right: 30px;
        max-width: none;
    }
}

.main-padleft {
    padding-left: calc((100vw - 1286px) / 2);

    @include respond-to(wideDesk) {
        padding-left: calc((100vw - 990px) / 2);
    }

    @include respond-to(desk) {
        padding-left: 50px;
    }

    @include respond-to(tablet) {
        padding-left: 20px;
    }
}

.main-padright {
    padding-right: calc((100vw - 1286px) / 2);

    @include respond-to(wideDesk) {
        padding-right: calc((100vw - 990px) / 2);
    }

    @include respond-to(desk) {
        padding-right: 50px;
    }

    @include respond-to(tablet) {
        padding-right: 20px;
    }
}
